/* My Custom CSS */
.form-nilai{
  width: 45px;
}

.page-header{
    text-align: center;
}
tr{
    height:30px;
}
.rekAnggota-section {
    height: 100%;
    padding-top: 80px;
    background: #fff;
}

.rekKetua-section {
    height: 100%;
    padding-top: 80px;
    background: #fff;
}

.rekPembimbing-section {
    height: 100%;
    padding-top: 80px;
    background: #fff;
}
input[disabled="disabled"]{
	background-color: #fff;
}